@media (max-width: 992px)
{
    .left, .right, .center
    {
        height: 25vh;
    }
    .center
    {
        flex-basis: 80%;
    }
    .right
    {
        flex-basis: 20%;
        order: 0;
    }
    .left, footer
    {
        flex-basis: 100%;
        order: 1;
    }
}
@media (max-width: 768px)
{
    .left, .right, .center
    {
        flex-basis: 100%;
        height: 25vh;
    }
    .center
    {
        order: 0;
    }
    .right, .left, footer
    {
        order: 1;
    }
}